@import "tailwindcss";

@theme {
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;

  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;

  --shadow-black: 4px 4px 0 #000;
  --shadow-white:  4px 4px 0 #fff;

  --grid-cols-auto: repeat(auto-fit, minmax(250px, 1fr));
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: var(--font-outfit);
}
